@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Http
@model eMarket.Entity.Product
@{
    ViewData["Title"] = "EditMyApprovalProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var url = @Context.Request.GetEncodedUrl();
    var success_message = Context.Session.GetString("SuccessUpdateMessage");
    var error_message = Context.Session.GetString("ErrorUpdateMessage");
}

<script src="~/js/jquery-ui.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<div class="container py-5">
    <div class="p-5 bg-white rounded shadow mb-5">
        <h3><strong>@Model.Name</strong> isimli ürünün güncelleme ekranı</h3><hr /><a href="/Admin/UnapprovedMyProducts/" class="btn btn-danger"> Onaysız Ürünlerime Geri Dön</a>
        <br /><br />

        @{

            if (error_message != null)
            { <div class="container">
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Hatalı !</strong> @error_message
                    </div>
                </div>
            }
            if (success_message != null)
            {
                <div class="container">

                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Başarılı !</strong> @success_message
                    </div>


                </div>

            }
        }<br />
        <div class="info-text"> <p>Ürününüzün henüz onaylanmadığı için ürününüz ile ilgili istediğiniz alanlarda güncelleme yapabilirsiniz.Ürün kategorisi,ürün bilgisi ve ürün fotoğraflarınızı güncelleme işlemini tek tek yapmanız gerekmektedir.</p></div><br />
        <!-- Rounded tabs -->
        <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
            <li class="nav-item flex-sm-fill">
                <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Ürün kategorİsİ</a>
            </li>
            <li class="nav-item flex-sm-fill">
                <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Ürün Bİlgİlerİ</a>
            </li>
            <li class="nav-item flex-sm-fill">
                <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Ürün Fotoğrafları</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
                <p class="text-muted">
                    <div class="row">
                        <div class="col-md-12">
                <p><strong>Mevcut</strong> ürününüzün kategorisi ;</p><hr />
                <label for="cc-payment" class="control-label mb-1">Alt Kategori : </label>
                <select name="CategoryId" disabled="disabled" class="form-control" asp-items="@(new SelectList(ViewBag.categoryList, "Value", "Text", @Model.CategoryId))"></select>
                <br />
                <label for="cc-payment" class="control-label mb-1">Üst Kategori : </label>
                <select disabled="disabled" name="SubCategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.sub_categories, "Value", "Text", @Model.SubCategoryId))"></select>

            </div>
           
        </div>
        </p>

    </div>
    <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
        <p class="text-muted">
            <form id="msform" asp-controller="Admin" asp-action="UpdateProductInfo" method="post">
                @Html.Hidden("product_id", @Model.ProductId)
                @Html.Hidden("url", url)
                <label for="cc-payment" class="control-label mb-1">Ad : </label>
                <input id="cc-payment" name="Name" type="text" class="form-control" aria-required="true" aria-invalid="false" value="@Model.Name">

                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Açıklama : </label>
                    <input id="cc-payment" name="Description" type="text" class="form-control" aria-required="true" aria-invalid="false" value="@Model.Description">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Fiyat : </label>
                    <input id="Price" name="Price" type="text" class="form-control" aria-required="true" aria-invalid="false" value="@Model.Price">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Stok (Adet) : </label>
                    <input id="cc-payment" name="Stock" type="number" class="form-control" aria-required="true" aria-invalid="false" value="@Model.Stock">
                </div>
                <br />
                <input type="submit" value="Ürün Bilgisini Güncelle" class="btn btn-primary" />
            </form>
        </p>

    </div><hr />
    <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
        <p class="text-muted">
            <table class="table table-default">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> Fotoğraf</th>
                        <th>Fotografı Güncellemek İçin Resim Seç</th>
                        <th scope="col">Fotoğraf Güncelle</th>
                        <th scope="col">Fotoğraf Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = Model.ProductImages.Count();
                        var add_images_count = 5 - count;
                        int i = 1;

            <p>Ürününüze <strong>@count</strong> adet fotoğraf eklemişssiniz.İsterseniz ürünüze en fazla <strong> @add_images_count </strong> tane daha fotoğraf ekleyebilirsiniz.</p>

            <div class="form-card">
                <div class="form-group">
                    <form method="post" asp-controller="Admin" asp-action="AddProductImage" enctype="multipart/form-data">
                        @Html.Hidden("productNumber", @Model.ProductNumber)
                        @Html.Hidden("url", url)
                        @for (int e = 1; e <= @add_images_count; e++)
                        {
                            <label for="cc-payment" class="control-label mb-1">@e. Fotoğraf : </label>
                            <input type="file" name="files" class="form-control" id="files" />
                            <br /><br />
                        }
                        <input type="submit" class="btn btn-primary" value="Fotoğrafları Yükle" />
                    </form>
                </div>
            </div>


            foreach (var images in Model.ProductImages)
            {
                <tr>

                    <th scope="row">@i</th>
                    <form method="post" asp-controller="Admin" asp-action="UpdateProductImages" enctype="multipart/form-data">
                        <td><img src="~/images/products/@images.Url" height="100" widht="100" /></td>
                        <td> <input type="file" name="file" class="form-control" id="files" /></td>
                        <td>

                            @Html.Hidden("imageUrl", @images.Url)
                            @Html.Hidden("url", url)
                            @Html.Hidden("images_id", @images.ProductImageId)
                            <input type="submit" class="btn btn-primary" value="Fotograf Güncelle" />

                        </td>
                    </form>
                    <td>
                        @using (Html.BeginForm("DeleteProductImage", "Admin", ""))
                        {
                            @Html.Hidden("imageUrl", @images.Url)
                            @Html.Hidden("url", @url)
                            <input type="submit" class="btn btn-danger" value="Fotoğraf Sil" />
                        }
                    </td>
                </tr>
                i++;
            }


                    }

                    </tbody>
                    </table>
                    </p>
                </div>

            </div>
            <!-- End rounded tabs -->
            </div></div>
            <script>
                window.setTimeout(function () {
                    $(".alert").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 5000);
            </script>

            <script>
                $(function () {
                    $("#myTabContent #ddlcountry").change(function () {
                        $.getJSON("/Admin/GetSubCategory",
                            { CategoryID: $("#myTabContent #ddlcountry").val() },
                            function (d) {
                                var row = "";
                                $("#myTabContent #ddlstate").empty();
                                $.each(d,
                                    function (i, v) {
                                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                                    });
                                $("#myTabContent #ddlstate").html(row);
                            });
                    });
                });
            </script>


