@model eMarket.Entity.Member
@{
    ViewData["Title"] = "MemberEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Edit / Üyeler</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Basic</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><strong>Üye</strong><small> Düzenle</small></div>
                    <div class="card-body card-block">
                        @{
                            using (Html.BeginForm("MemberUpdate", "Admin", FormMethod.Post))
                            {
                                <div class="form-group"><label for="company" class=" form-control-label">ID</label><input type="text" readonly="readonly" id="company" name="MemberId" class="form-control" value="@Model.MemberId"></div>
                                <div class="form-group"><label for="company" class=" form-control-label">Ad</label><input type="text" id="company" name="FirstName" class="form-control" value="@Model.Name"></div>
                                <div class="form-group"><label for="vat" class=" form-control-label">Soyadı</label><input type="text" id="vat" name="Surname" value="@Model.Surname" class="form-control"></div>
                                <div class="form-group"><label for="street" class=" form-control-label">Telefon</label><input type="text" id="street" name="Phone" value="@Model.Phone" class="form-control"></div>
                                <div class="form-group"><label for="country" class=" form-control-label">Mail</label><input type="text" id="country" name="Email" value="@Model.Email" class="form-control"></div>
                                <div class="form-group"><label for="country" class=" form-control-label">Şifre</label><input type="text" id="country" name="Password" value="@Model.Password" class="form-control"></div>
                                <div class="form-group"> <label for="country" class=" form-control-label">Aktif Mi ?</label> @Html.EditorFor(model => @Model.IsActive)</div>
                                <br />
                                <input type="submit" class="btn btn-success btn-lg" value="Güncelle" />
                            }
                        }
                    </div>
                </div>
            </div>

        </div>


    </div><!-- .animated -->
</div><!-- .content -->
