@model IEnumerable<eMarket.Entity.Product>
@{
    ViewData["Title"] = "MyApprovalProducts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<link rel="stylesheet" href="~/admin/assets/css/lib/datatable/dataTables.bootstrap.min.css">
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Üyeler</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Table</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        @Model.Count() adet onay bekleyen ürün bulunmaktadır.
                    </div>
                    <div class="card-body">
                        @{
                            if (ViewBag.ErrorMessage != null)
                            {
                                <div class="container">
                                    <div class="row">
                                        <div class="alert-group">
                                            <div class="alert alert-danger alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <strong>Hata !</strong> @ViewBag.ErrorMessage
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Ürün Numarası</th>
                                            <th>Ad</th>
                                            <th>Fiyat</th>
                                            <th>Onaylı Mı ?</th>
                                            <th>Stok</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.ProductNumber</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Price.ToString("c")</td>
                                                    <td>@item.IsApproved</td>
                                                    <td>@item.Stock</td>
                                                    <td> @Html.ActionLink("Güncelle", "EditMyApprovalProduct", new { productID = item.ProductNumber }, new { @class = "btn btn-success" })</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->



<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();
    });
</script>


<script src="~/admin/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/admin/assets/js/init/datatables-init.js"></script>








